.env.development
.env.production
.env
.env.complete
venv/

deploy.sh

*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo

draft_media
node_modules/

openai

# Ignore asset imports that are now loaded from CDN
frontend/src/assets/
*.mp4
*.mov
*.jpg
*.png

/aws_workers
test_edge_functions.sh
jetson_scripts/.env
