.env.development
.env.production
.env
venv/

deploy.sh

*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo

draft_media
node_modules/

openai

# Ignore asset imports that are now loaded from CDN
src/assets/
*.mp4
*.mov
*.jpg
*.png
